<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm py-3">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center" href="#">
      <i class="bi bi-leaf-fill me-2"></i> Plantas Medicinales
    </a>
    <div class="ms-auto d-flex align-items-center gap-3">
      <a href="/" class="nav-link text-dark fw-semibold">
        <i class="bi bi-house-door-fill me-1"></i> Inicio
      </a>
      <a href="/iden" class="nav-link text-dark fw-semibold">
        <i class="bi bi-person-gear me-1"></i> Identificador de plantas
      </a>
      <a href="/login" class="nav-link text-dark fw-semibold">
        <i class="bi bi-person-gear me-1"></i> Administrar
      </a>
    </div>
  </div>
</nav>

